<div class="intro">
    <h1>Hello, my name is Nada Jebali <span class="wave">👋</span></h1>
    <p>Welcome to my application, a simple yet powerful demonstration of my end-of-study project. Before you begin, please choose whether you want to proceed with courier services or without.</p>
    
    <div class="button-group">
        <button class="btn" (click)="navigateToCourierDetails()">With Courier Service</button>

      <button class="btn" routerLink="/without-courier">Without Courier Service</button>
    </div>
  </div>
  
  
  
