.form-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 30px 30px 30px 20px; /* Reduced padding */
  border: 2px solid #6367ef;
  border-radius: 8px;
  background-color: #f9f9f9;
  position: relative; /* Ensure positioning of the buttons */
}

.form-group {
  margin-bottom: 15px;
}

.form-group-buttons {
  position: relative;
  margin-top: 20px; /* Add some space above the buttons */
  height: 50px; /* Ensure the container has height to fit the buttons */
}

.courier-line {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 8px;
  margin-top: 4px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.corner-btn {
  position: absolute;
  width: 120px;
  height: 40px;
  background-color: #6367ef;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.top-left {
  bottom: 10px;
  left: 10px;
}

.top-right {
  bottom: 10px;
  right: 10px;
}
